@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .navbar {
        @apply container mx-auto relative p-4 flex justify-between items-center box-border;
    }
    .slide-from-right {
        @apply fixed inset-0 left-1/2 py-24 px-6 space-y-6 translate-x-full transition-all ease-in text-2xl bg-zinc-900 md:static md:p-0 md:space-y-0 md:translate-x-0 md:inline-flex md:items-center md:gap-6;
    }
    .card {
        @apply block p-3 shadow-md shadow-black rounded;
    }
    .generic-container {
        @apply container mx-auto p-6;
    }
    .center-content {
        @apply h-screen flex justify-center items-center;
    }
    .form-card {
        @apply p-6 w-96 shadow-md shadow-black rounded;
    }
    .form-label {
        @apply block my-3;
    }
    .form-input {
        @apply mt-1 block w-full rounded border-current focus:ring-0;
    }
}

/* hamburger menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 14px;
    transition: all 150ms;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: currentColor;
    transform: rotate(0);
    transition: all 150ms;
}

.hamburger-middle {
    transform: translateY(7px);
}
.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}
